{% extends 'base.html' %}
{% block title %}Order Items{% endblock %}
{% block content %}
    <div>

        <div class="row mt-5 d-flex justify-content-center">
            <div class="d-flex mt-5 px-5 pt-4 justify-content-center">
                <div class="text-center mt-2 ms-auto">
                    <a class="btn btn-primary" href="{% url 'add_order_item' %}"
                       role="button">Add</a>
                </div>
                <div class="mx-5"></div>
            </div>
            <h2 class="text-center text-success mb-5 pt-3">Order Items</h2>
            <div class="col-6">
                <table class="table caption-top">
                    <thead class="text-center">
                    <tr>
                        <th scope="col">Product</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Order</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in orders_items %}
                        <tr class="text-center">
                        <td>{{ item.product }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.order }}</td>
                        <td>
                            <a class="btn btn-primary mx-3"
                               href="{% url 'update_order_item' item.id %}"
                               role="button">Edit</a>
                            <a class="btn btn-danger" href="{% url 'delete_order_item' item.id %}"
                               role="button">Delete</a>
                        </td>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
{% endblock %}