{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}List{% endblock %}
{% block content %}
    <div class="d-flex justify-content-center mt-5">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="text-center mt-3">
                <button type="submit" class="btn btn-dark">Save</button>
            </div>
        </form>
    </div>
{% endblock %}