{% extends 'base.html' %}
{% block title %}Products{% endblock %}
{% block content %}
    <div>

        <div class="row mt-5 d-flex justify-content-center">
            <div class="d-flex mt-5 px-5 pt-4 justify-content-center">
                <div class="text-center mt-2 ms-auto">
                    <a class="btn btn-primary" href="{% url 'add_product' %}"
                       role="button">Add</a>
                </div>
                <div class="mx-5"></div>
            </div>
            <h2 class="text-center text-success mb-5 pt-3">Products</h2>
            <div class="col-6">
                <table class="table caption-top">
                    <thead class="text-center">
                    <tr>
                        <th scope="col">Product</th>
                        <th scope="col">Type</th>
                        <th scope="col">Price</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in products %}
                        <tr class="text-center">
                        <td>{{ product.name }}</td>
                        <td>{{ product.type }}</td>
                        <td>{{ product.price }}</td>
                        <td>
                            <a class="btn btn-primary mx-3"
                               href="{% url 'update_product' product.id %}"
                               role="button">Edit</a>
                            <a class="btn btn-danger" href="{% url 'delete_product' product.id %}"
                               role="button">Delete</a>
                        </td>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
{% endblock %}