{% extends 'base.html' %}
{% block title %}Clients{% endblock %}
{% block content %}
    <div>

        <div class="row mt-5 d-flex justify-content-center">
            <div class="d-flex mt-5 px-5 pt-4 justify-content-center">
                <div class="text-center mt-2 ms-auto">
                    <a class="btn btn-primary" href="{% url 'add_client' %}"
                       role="button">Add</a>
                </div>
                <div class="mx-5"></div>
            </div>
            <h2 class="text-center text-success mb-5 pt-3">Clients</h2>
            <div class="col-6">
                <table class="table caption-top">
                    <thead class="text-center">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Last name</th>
                        <th scope="col">Observations</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for client in clients %}
                        <tr class="text-center">
                        <td>{{ client.name }}</td>
                        <td>{{ client.last_name }}</td>
                        <td>{{ client.observations }}</td>
                        <td>
                            <a class="btn btn-primary mx-3"
                               href="{% url 'update_client' client.id %}"
                               role="button">Edit</a>
                            <a class="btn btn-danger" href="{% url 'delete_client' client.id %}"
                               role="button">Delete</a>
                        </td>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
{% endblock %}