<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Restaurant {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

<div>
    <nav class="navbar-dark bg-dark fixed-top p-0">
        <div class="container-fluid d-flex">
            <div class="nav-item mt-1">
                <a class="navbar-brand mb-1" href="{% url 'home' %}"> Home</a>
            </div>
            <div class="nav-item">
                <a class="nav-link text-white" href="{% url 'clients' %}">Clients</a>
            </div>
            <div class="nav-item">
                <a class="nav-link text-white" href="{% url 'waiters' %}">Waiters</a>
            </div>
            <div class="nav-item">
                <a class="nav-link text-white" href="{% url 'tables' %}">Tables</a>
            </div>
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown"
                   role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Orders
                </a>
                <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                    <a class="nav-link text-white" href="{% url 'orders' %}">Orders List</a>
                    <a class="dropdown-item nav-link " href="{% url 'order_items' %}">Order Items</a>
                </div>
            </div>

            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown"
                   role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Products
                </a>
                <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                    <a class="nav-link text-white" href="{% url 'products' %}">Products List</a>
                    <a class="dropdown-item nav-link " href="{% url 'product_types' %}">Products Types</a>
                </div>
            </div>
            <div class="nav-item">
                <a class="nav-link text-white" href="{% url 'invoices' %}">Invoices</a>
            </div>
        </div>
    </nav>

</div>
{% block content %}{% endblock %}

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>