{% extends 'base.html' %}

{% block Title %} Delete Activity{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center">
        <form method="post" novalidate>
            {% csrf_token %}
            <h4 class="mt-5 pt-3">Are you sure you want to delete the data ?</h4>
            <div class="text-center mt-4">
                <input value="Confirm" type="submit" class="btn btn-danger text-center"/>
            </div>
        </form>
    </div>
{% endblock %}